<footer class="section-p1">
        <div class="col">
            {{!-- <img class="logo" src="img/logo.png" alt=""> --}}
            <h4>Contact</h4>
            <p><strong>Address: </strong>123 Logistics Lane, Bareilly, Uttar Pradesh, India</p>
            <p><strong>Phone: </strong>+91-9876543210 /(+91) 81  2345 6789</p>
            <p><strong>Hours: </strong>10:00 - 18:00, Mon - Sat</p>
            {{!-- <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div> --}}
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="/about">About Us</a>
            <a href="/about">Privacy Policy</a>
            <a href="/about">Contact Us</a>
        </div>

        <div class="col">
            <h4>Account</h4>
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
            <a href="/vehicle">Vehicle</a>
        </div>


        <div class="copyright">
            <p>@ 2024, SAjay Logistic</p>
        </div>
    </footer>