<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic</title>
    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}
</head>
<body>
    
    {{>header}}

    <section id="motion-rl" >
        <div>
            <marquee bgcolor="#ccc" behavior="" direction="">|| 
                "Logistics is all about managing the flow of resources - whether it's goods, information or people." - Micheal Hugos ||
            </marquee>
        </div>
    </section>
    
    <section id="table-login" >
        <div class="split left">

            <!-- <div class="search">
                <div class="search-from box">
                    <input type="search" name="from" id="from" placeholder="From">    
                </div>
                <div class="search-to box">
                    <input type="search" name="to" id="to" placeholder="To">
                </div>
                <div class="search-btn">
                    <button type="submit">search</button>
                </div>
            </div> -->

            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Departure Date</th>
                            <th>P.No.</th>
                            <th>More Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Gwalior</td>
                            <td>Delhi</td>
                            <td>11/9/2024</td>
                            <td>123456789</td>
                            <td><a href="/detail">Click here</a></td>
                        </tr>
                        
                        <tr>
                            <td>1.</td>
                            <td>Gwalior</td>
                            <td>Delhi</td>
                            <td>11/9/2024</td>
                            <td>123456789</td>
                            <td><a href="/detail">Click here</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="form split right">
            <form action="">
                <div class="login-text">Login To Your Account</div> <hr>
                <div class="phno mid">
                    <i class="fa-solid fa-user"></i>
                    <input type="number" name="" id="num" placeholder="Enter Phone no.">
                </div>
                <div class="pw mid">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="" id="password" placeholder="Password">
                </div>
                <div class="remember-me">
                    <input type="checkbox" name="remember" id="">
                    <label for="remember">Remember me</label>
                </div>
                <button type="submit">Submit</button>
                <hr>
                <div class="below-login">
                    <div class="account">Not registered? <a href="signup.html">Create a Account</a></div>
                    <div class="lost-pw">Lost your password? <a href="#">Click here to recover</a></div>
                </div>
            </form>
        </div> -->
        
    </section>

    {{>footer}}



    <!-- <footer class="section-p1">
        <div class="col">
            <img class="logo" src="img/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong>202 Block-B Mohan Nagar, Delhi, India 201202</p>
            <p><strong>Phone: </strong>+10 2222 365 /(+91) 01  2345 6789</p>
            <p><strong>Hours: </strong>10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Condition</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>@ 2024, SAjay Logistic</p>
        </div>
    </footer> -->
</body>
</html>














