<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"  />
</head>
<body>

    {{>header}} 

    <div class="bg-img size-view">

    {{#if error}} 
        <p style="color: red;">{{error}}</p>
    {{/if}}

    <div class="login-form">
        <form action="/vlogin" method="POST">
            <div class="login-text">Login For Vehicle</div> <hr>
            <div class="phno mid">
                <!-- <i class="fa-solid fa-user"></i> -->
                <label for="num" style="margin-right: 62px;">Email</label>
                <input type="email" name="email" id="num" placeholder="Enter Email id">
            </div>
            <div class="pw mid">
                <!-- <i class="fa-solid fa-lock"></i> -->
                 <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn-login">Submit</button>
            <hr>
            <div class="below-login">
                <div class="account">Not registered? <a href="/vehicle">Create a Account for Vehicle</a></div>
                <div class="lost-pw">Lost your password? <a href="/vreset">Click here to recover</a></div>
            </div>
        </form>
    </div>

    </div>

    {{>footer}}

    <script src="js/script.js"></script>
    
</body>
</html>