<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{>header}}

    {{#if error}}
        <p style="color: red; text-align: center;">{{error}}</p>
    {{/if}}

    {{#if success}}
        <p style="color: green; text-align: center;">{{success}}</p>
    {{/if}}

    <div class="reset-password-form">
        <form action="/vreset" method="POST">
            <div class="reset-text">Reset Vehicle Password</div> <hr>
            <div class="mid">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter Email id" required>
            </div>
            <div class="mid">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="newPassword" placeholder="Enter New Password" required>
            </div>
            <div class="mid">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm New Password" required>
            </div>
            <button type="submit" class="btn-reset">Submit</button>
        </form>
    </div>

    {{>footer}}

</body>
</html>
